ul {
    background-color: #555;
    position: fixed;
    top: 0;
    width: 100%
}

li {
    float: left;
}

li a {
    display: block;
    color: antiquewhite;
    text-align: center;
    padding: 10px 15px;
}


body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}
