ul {
    list-style-type: none;
    background-color: #555;
    position: fixed;
    top: 0;
    width: 100%
}

li {
    float: left;
}

li a {
    display: block;
    color: antiquewhite;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

h1 {
    font-size: 45px;
    color: white;
    background-color: black;
    text-align: center;
}

.intro{
  padding: 30px;
  margin-top: 30px;
  background-color: aliceblue;  
  height: 1250px;
}
